<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgba(255, 25, 0, 0.582);color: white;">
        <h1>INFO</h1>
        <h3>Argumentos de entrada: {{entryArgs}}</h3>
        <h3>Plataforma: {{platform}}</h3>
        <h3>Versión de Node: {{nodeVersion}}</h3>
        <h3>Memoria total reservada: {{memory}}</h3>
        <h3>Path de ejecución: {{path}}</h3>
        <h3>Process ID: {{processId}}</h3>
        <h3>Directorio: {{dir}}</h3>
    </div>
</div>